<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Tutor $tutor
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $tutor->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $tutor->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Tutors'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="tutors form large-9 medium-8 columns content">
    <?= $this->Form->create($tutor) ?>
    <fieldset>
        <legend><?= __('Edit Tutor') ?></legend>
        <?php
            echo $this->Form->control('first_name');
            echo $this->Form->control('last_name');
            echo $this->Form->control('photo');
            echo $this->Form->control('email');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
